name: Daily Birthday Wisher

on:
  schedule:
    # This cron job runs at 3:30 AM UTC, which is 9:00 AM IST
    - cron: '30 3 * * *'
  workflow_dispatch: # This allows you to trigger it manually!

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt

      - name: Run Birthday Wisher
        env:
          MY_EMAIL: ${{ secrets.MY_EMAIL }}
          MY_PASSWORD: ${{ secrets.MY_PASSWORD }}
        run: python main.py
